@use "./core/reset";

.table {
  border: solid 3px black;
  margin-top: 10px;
}

.table-name {
  padding-inline: 10px;
}
.table-tutora {
  padding-inline: 10px;
}
.table-especialidad {
  padding-inline: 10px;
}

.formulario {
  display: grid;
  grid-template-columns: 200px 100px;
}
